.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.copyright {
    display: flex;
    justify-content: center;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

}

.box {
    animation: bounce 1s linear infinite;
}